<!DOCTYPE html>
<html lang="en">
<head>
    <title>Research Assistant Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!--Background Video-->
    <video id="background-video" autoplay loop muted>
        <source src="{{ url_for('static', filename='Video_NS.mp4') }}" type="video/mp4">
    </video>
    <!--Chat Container-->
    <div class="chat-container">
        <img src = "{{url_for('static',filename = 'Night Sky.jpg')}}"alt="Background-Image"class="bg-image">
        <!--Chat Frame-->
        <div class="chat-frame">
            <div class="chat">
                <!--Chat Header-->
                <div class="chat-header">Research Assistant
                </div>
                <!--Chat Body-->
                <div class="chat-body" id="chat-body">
                    <!-- Chat messages will appear here -->
                </div>
                <!--User Input and Options-->
                <div class="chat-input" id="button-options">
                    <ul class="button-list">
                        <li> <button type="button" onclick="handleButtonClick(1)">Find Seminal Papers</button></li>
                        <li> <button type="button" onclick="handleButtonClick(2)">Get Quick Research Summaries</button></li>
                        <li> <button type="button" onclick="handleButtonClick(3)">Spot Research Gaps</button></li>
                        <li> <button type="button" onclick="handleButtonClick(4)">Locate Domain Experts</button></li>
                        <li> <button type="button" onclick="handleButtonClick(5)">Discover State of Art</button></li>
                        <li> <button type="button" onclick="handleButtonClick(6)">Get to know about Trends</button></li>
                            <div id="graph-container"></div>
                        <li> <button type="button" onclick="handleButtonClick(7)">Make Interactive Reports</button></li>
                        <li> <button type="button" onclick="handleButtonClick(8)">Generate New Ideas</button></li>
                        <li> <button type="button" onclick="handleButtonClick(9)">Identify Datasets</button></li>
                    </ul>
                </div>
                <!--User Input Form-->
                <form class="chat-input" id="user-input-form" style="display: none;">
                    <div id="user-input-div">
                        <!--Text Input for User's Topic-->
                        <input type="text" id="user-input" name="user_message" placeholder="Type your topic..." required>
                        <!--Button to send User's Message-->
                        <button type="button" onclick="sendMessage()">Send</button>
                    </div>
                </form>
            </div>
            <!--Background Image for Covering the Frame-->
            <img src="{{ url_for('static', filename='Night Sky.jpg') }}" alt="Background Image" class="bg-image">
        </div>
        <!--<video id="background-video" autoplay loop muted>
            <source src="{{ url_for('static', filename='star_-_55550(720p).mp4') }}" type="video/mp4">
        </video>-->
    </div>
    <!--Load Javascript File for Functionality-->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!--Call the Start conversation window when the page loads-->
    <script>window.onload=startConversation;</script>
</body>
</html>
